/* Disable selection globally */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; /* Disables the callout menu on long press */
}

/* Re-enable selection for inputs and text areas */
input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Prevent zooming behavior on touch */
html,
body,
#root {
  touch-action: pan-x pan-y;
  overscroll-behavior-y: none; /* Optional: prevents pull-to-refresh if not needed */
}
